user_uuid="6129a7fb-2b48-4581-9351-8c769dad234d"
bucket_name="e84wseyz6601ag4yf96b5zx02levde8v"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets/"
content_version=1